# ignore folders test, test_transform, train, train_transform
# ignore files run.slurm and *.tar
*.tar
# run.slurm
src/test/
src/test_transform/
src/train/
src/train_transform/
src/test_hhfilter/
src/train_hhfilter/
play/cut_data/
play/cut_transform/
play/data/
play/data_change/
play/data_change_transform/
play/data_final/
play/data_final_filter/
play/no_lower_data/
play/transform/
play/transform_final/
play/data_order/
play/data_order_transform/
src/model/